.mainText {
  color: white;
  font-size: 14px;
  line-height: 25px;
  text-align: justify;
  text-justify: distribute-all-lines;
  margin-bottom: 10px;

  & ::after {
    content: "";
    width: 100%;
    display: inline-block;
    overflow: hidden;
    margin: 0;
  }

  &::selection {
    background: #fff;
    color: #000;
  }
}

.mainTexts {
  color: white;
  font-size: 12px;
  line-height: 15px;
  text-align: justify;
  text-justify: distribute-all-lines;

  & ::after {
    content: "";
    width: 100%;
    display: inline-block;
    overflow: hidden;
    margin: 0;
  }

  &::selection {
    background: #fff;
    color: #000;
  }
}

.title1 {
  color: #f0fe97;
  font-size: 18px;
  line-height: 25px;
  text-align: justify;
  font-weight: bold;
  text-justify: distribute-all-lines;

  & ::after {
    content: "";
    width: 100%;
    display: inline-block;
    overflow: hidden;
    margin: 0;
  }

  &::selection {
    background: #fff;
    color: #000;
  }
}

.title2 {
  color: #f0fe97;
  font-size: 14px;
  line-height: 25px;
  text-align: justify;
  font-weight: bold;
  text-justify: distribute-all-lines;

  & ::after {
    content: "";
    width: 100%;
    display: inline-block;
    overflow: hidden;
    margin: 0;
  }

  &::selection {
    background: #fff;
    color: #000;
  }
}

.title3 {
  color: #f0fe97;
  font-size: 18px;
  line-height: 25px;
  text-align: justify;
  font-weight: bold;
  text-justify: distribute-all-lines;

  & ::after {
    content: "";
    width: 100%;
    display: inline-block;
    overflow: hidden;
    margin: 0;
  }

  &::selection {
    background: #fff;
    color: #000;
  }
}

.cardTitle {
  color: #f0fe97;
  font-size: 14px;
  line-height: 20px;
  // text-align: justify;
  font-weight: bold;
  width: 100%;
  text-justify: distribute-all-lines;
  height: 40px;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 8px;
  // white-space: nowrap;
  & ::after {
    content: "";
    width: 100%;
    display: inline-block;
    overflow: hidden;
    margin: 0;
  }

  &::selection {
    background: #fff;
    color: #000;
  }
}

.card {
  flex-basis: 45%;

  .cover {
    overflow: hidden;
    height: 180px;
    width: 100%;
    position: relative;
  }

  .title {
    margin-top: 5px;
  }

  .author {
    margin-top: 8px;
  }

  margin-bottom: 30px;

  .line {
    background-color: #fff;
    width: 14.5px;
    height: 3px;
    margin-top: 10px;
  }
}

.pageNav {
  user-select: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;

  .prePage {
    width: 15px;
    height: 15px;
  }

  .pageIcons {
    display: flex;

    .pageIcon {
      width: 30px;
      height: 30px;
      border: 1px #bfca79 solid;
      display: flex;
      color: rgb(198, 198, 198);
      justify-content: center;
      align-items: center;
      // box-sizing: content-box;
      // margin: 0 5px;
    }

    .pageIconActive {
      width: 30px;
      height: 30px;
      background-color: #f0fe97;
      color: black;
      display: flex;
      justify-content: center;
      align-items: center;
      // box-sizing: content-box;
      // margin: 0 5px;
    }
  }

  .nextPage {
    transform: scaleX(-1);
    width: 15px;
    height: 15px;
  }
}

.StudioDirectionContainer {
  text-align: right;

  .StudioDrectionline {
    border-bottom: 0.5px rgba(255, 255, 255, 0.333) solid;
  }

  .StudioDirectionZh {
    font-size: 12px;
    font-weight: bold;
  }

  .StudioDirectionEn {
    font-size: 8px;
    font-weight: lighter;
    // width:50%;
  }

  margin-bottom: 20px;
}

.StudioDirectionPersonCardM {
  display: flex;

  .PersonImage {
    position: relative;
    // flex:1;
    height: 168px;
    width: 240px;
    // flex-basis: 120px;
    margin-right: 20px;
    flex-grow: 2;
  }

  .PersonInfo {
    width: 100%;
    flex-grow: 1;

    .name {
      color: #f0fe97;
      font-size: 12px;
      font-weight: bold;
      margin-bottom: 15px;
    }

    .describe {
      font-size: 10px;
      line-height: 20px;
      text-align: justify;
    }
  }

  margin-bottom: 30px;
}

.bilibili {
  margin: 30px 0;
}