$choice-top: 0px;

.nav {
  margin-top: 50px;
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 100vw;
    transform: translateY(-2px);
  }
  .select {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    .choice {
      position: absolute;
      user-select: none;
    }
    .gongyesheji {
      left: 40px;
      top: calc(148px + $choice-top);
      animation: bounce-down 4.6s linear infinite;
    }
    .jichusheji {
      left: 150px;
      top: calc(148px + $choice-top);
      animation: bounce-down 5s linear infinite;
    }
    .shejituxue {
      right: 29px;
      top: calc(148px + $choice-top);
      animation: bounce-down 4s linear infinite;
    }
    .yuanxinkongzhi {
      left: 99px;
      top: calc(257px + $choice-top);
      animation: bounce-down 5.2s linear infinite;
    }
    .renjigongcheng {
      right: 85px;
      top: calc(248px + $choice-top);
      animation: bounce-down 4.5s linear infinite;
    }
  }
}
.content {
  padding: 20px 40px;
  // padding-bottom: 30px;
  transition: opacity 1s ease-out;
  opacity: 1;
  .titles {
    margin-bottom: 10px;
  }
}

@keyframes bounce-down {
  25% {
    -webkit-transform: translateY(-4px);
  }
  50%,
  100% {
    -webkit-transform: translateY(0);
  }
  75% {
    -webkit-transform: translateY(4px);
  }
}
@media only screen and (max-width: 800px) {
}
