.imageTitle {
  position: relative;
  width: 100%;
  height: 100px;
  margin-top: 60px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgTitle {
  position: relative;
  width: 100%;
  height: 100px;
  margin-top: 70px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preamble {
  height: 100vw;
  width: 100%;
  position: absolute;
  top: 110px;
  z-index: 0;
}

.preambleTitle {
  margin-top: 80vw;
  padding: 0 40px;
  position: relative;
  z-index: 2;
}

.graWorksTitle {
  padding: 0 40px;
  margin-top: 20px;
}

.graWorkTitle {
  padding: 0 40px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.graWork {
  padding: 0 40px;

}

.mobileContainer {
  position: relative;
  z-index: 1;
  margin-top: calc(100vw - 50px);

  padding: 0 40px;

  .content {
    overflow: hidden;
  }
}


.imgTitle {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.info {
  margin: 10px 0 20px;
}

.video {
  padding: 0 40px;
}