.imageTitle {
  position: relative;
  width: 100%;
  height: 100px;
  margin-top: 60px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageTitleW {
  position: relative;
  width: 100%;
  height: 300px;
  //max-width: 1200px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}


.imgTitle {
  position: relative;
  width: 100%;
  height: 100px;
  margin-top: 70px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preamble {
  height: 100vw;
  width: 100%;
  position: absolute;
  top: 110px;
  z-index: 0;
}

.preambleW {
  max-width: 1200px;
  width: 100%;
  position: relative;
  transform: translateY(-150px);
  z-index: 0;
  margin: 0 auto 0 auto;

  .P5container {
    position: absolute;
  }
}

.preambleTitle {
  margin-top: 80vw;
  padding: 0 40px;
  position: relative;
  z-index: 2;
}

.preambleTitleW {
  //margin-top: 200px;
  margin: 0 auto 0 auto;
  max-width: 1200px;
  position: relative;
  z-index: 2;
}

.graWorksTitle {
  padding: 0 40px 0 40px;
  margin-top: 20px;
}

.graWorksTitleW {
  max-width: 1200px;
  position: relative;
  z-index: 2;
  margin: 20px auto 0 auto;
}


.graWorkTitle {
  padding: 0 40px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.graWorkTitleW {
  margin: 100px auto 20px auto;
  max-width: 1200px;
  position: relative;
  z-index: 2;
}

.graWork {
  padding: 0 40px;

}


.graWorkW {
  //padding: 0 40px;
  max-width: 1200px;
  margin: 40px auto 0 auto;
  position: relative;
  z-index: 2;
  .pageNav{
    width: 100%;
    padding: 0 40px 0 40px;
  }
}

.mobileContainer {
  position: relative;
  z-index: 1;
  margin-top: calc(100vw - 50px);

  padding: 0 40px;

  .content {
    overflow: hidden;
  }
}
.container{
  max-width: 1200px;
  position: relative;
  z-index: 2;
  margin: 50px auto auto auto;
  .title{
    margin-bottom: 20px;
  }
  .info{
    color: #d2d2d2 ;
    font-size: 0.8rem;
    margin-bottom: 50px;
  }
  .content{
    padding:0 0px 0;

  }
  .likes{
    margin-bottom: 200px;
  }
}

.imgTitle {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.info {
  margin: 10px 0 20px;
}
