.aa {
  width: 100%;
  height: 600px;
  background-color: #fff;
}

.history {
  padding: 0 40px;
}
.feature {
  padding: 0 40px;
}
.honor {
  padding: 0 40px;
}
.talent {
  padding: 0 40px;
}
@media (max-width: 800px) {
}
